
.lanche-personalizado-header {
  background: var(--blue-500);
  color: #fff;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  font-weight: 600;
}
