<form [formGroup]="form" class="card" *ngIf="lancheValorPromocao && lancheValorPromocao.lanche && ingredientes && ingredientes.length > 0">
  <div class="lanche-personalizado-header">
    <h3 class="p-text-center">Personalize o lanche:</h3>
  </div>
  <!-- Componente DataView - Lista de Registros-->
  <p-dataView #dv  [value]="ingredientes" [paginator]="false" [rows]="9" filterBy="nome" [loading]="carregando"
    [sortField]="campoOrdenacao" [sortOrder]="ordenacao" layout="list" emptyMessage="Não foram encontrados registros.">

    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">

        <p-dropdown [options]="opcoesOrdenacao" formControlName="itemOrdem" placeholder="Ordernar por preço" (onChange)="ordenacaoTipo($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>

        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Procurar por nome" (input)="dv.filter($event.target.value)">
        </span>

        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>

      </div>
    </ng-template>

    <ng-template let-ingrediente pTemplate="listItem">
      <!-- Componente de visualização em Lista - único por linha-->
      <app-list-item [itemDataview]="converterParaItemDataView(ingrediente)" (subtotalEvent)="subtotal($event)" class="p-col-12"></app-list-item>
    </ng-template>

    <ng-template let-ingrediente pTemplate="gridItem">
      <!-- Componente de visualização em Grid - vários por linha -->
      <app-grid-item [itemDataview]="converterParaItemDataView(ingrediente)" (subtotalEvent)="subtotal($event)" class="p-col-12 p-md-4"></app-grid-item>
    </ng-template>


  </p-dataView>

  <div class="p-d-flex">
    <div style="margin-left: auto; margin-bottom: 20px; padding: 1rem 1.5rem;">
     <p-button icon="pi pi-shopping-cart" [disabled]="false" label="Adicionar" (click)="verificarPromocaoEadicionarLanche()"></p-button>
    </div>
  </div>

</form>
