<div class="card">
  <p-dataView #dv [value]="lanches" [paginator]="true" [rows]="9" filterBy="nome" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

      <ng-template pTemplate="header">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown [options]="opcoesOrdenacao" [(ngModel)]="sortKey" placeholder="Ordernar por preço" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Procurar por lanche" (input)="dv.filter($event.target.value)">
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
      </ng-template>

      <ng-template let-lanche pTemplate="listItem">
        <app-list-item [lancheValorPromocao]="lanche" class="p-col-12"></app-list-item>
      </ng-template>

      <ng-template let-lanche pTemplate="gridItem">
        <app-grid-item [lancheValorPromocao]="lanche" class="p-col-12 p-md-4"></app-grid-item>
      </ng-template>
  </p-dataView>
</div>
