
  <div class="lanche-grid-item card">
    <div class="lanche-grid-item-top">
      <div>
        <i class="pi pi-tag lanche-categoria-icon"></i>
        <span class="lanche-categoria">{{lancheValorPromocao.lanche.nome}}</span>
      </div>
      <span [class]="'lanche-badge status-' + lancheValorPromocao.lanche.nome.toLowerCase()">{{lancheValorPromocao.lanche.nome}}</span>
    </div>
    <div class="lanche-grid-item-content">
      <img *ngIf="lancheValorPromocao.lanche.urlimagem" [src]="lancheValorPromocao.lanche.urlimagem" [alt]="lancheValorPromocao.lanche.nome"/>
      <div class="lanche-name">{{lancheValorPromocao.lanche.nome}}</div>
      <div class="lanche-description">{{descricao}}</div>
      <p-rating [ngModel]="lancheValorPromocao.lanche.nome" [readonly]="true" [cancel]="false"></p-rating>
    </div>
    <div class="lanche-grid-item-bottom">
        <span class="lanche-preco">R$ {{lancheValorPromocao.valor}}</span>
        <p-button icon="pi pi-shopping-cart" [disabled]="lancheValorPromocao.lanche.nome === 'OUTOFSTOCK'"></p-button>
    </div>
  </div>

