.lanche-grid-item {
  margin: .5em;
  border: 1px solid #dee2e6;

  .lanche-grid-item-top,
  .lanche-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
  }

  .lanche-grid-item-content {
      text-align: center;
  }

  .lanche-preco {
      font-size: 1.1rem;
      font-weight: 600;
  }
}

:host ::ng-deep #minmax {
  width: 80px;
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
:host ::ng-deep .lanche-list-item {
  flex-direction: column;
  align-items: center;

  img {
    width: 75%;
    margin: 2rem 0;
  }

  .lanche-list-detail {
    text-align: center;
  }

  .lanche-preco {
    align-self: center;
  }

  .lanche-list-action {
    display: flex;
    flex-direction: column;
  }

  .lanche-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
}
