.lanche-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--bluegray-50);

  img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
  }

  .lanche-list-detalhe {
      flex: 1 1 0;
      text-align: left;
  }

  .lanche-preco {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: .3rem;
      align-self: flex-end;
  }

  .lanche-list-action {
      display: flex;
      flex-direction: column;
  }

  .p-button {
      margin-bottom: .5rem;
  }
}

:host ::ng-deep #minmax {
  width: 80px;
  max-width: 80px;
}
