<div class="total-pedido-header">
  <h2 class="p-text-center">Promoções do dia:</h2>
</div>
<div class="p-d-flex p-flex-wrap p-jc-between">
  <p-card header="Light" [style]="{'width': '22rem', 'margin-bottom': '2em'}">
    <p><b>Ganha 10% de desconto</b> ao adicionar alface em um lanche sem bacon.</p>
  </p-card>
  <p-card header="Muita Carne" [style]="{'width': '22rem', 'margin-bottom': '2em'}">
    <p><b>Compre 3 pague 2</b> ao adicionar 3 hambúrguer de carne, pague apenas 2.</p>
  </p-card>
  <p-card header="Muito Queijo" [style]="{'width': '22rem', 'margin-bottom': '2em'}">
    <p><b>Compre 3 pague 2</b> ao adicionar 3 unidades de queijo, pague apenas 2.</p>
  </p-card>
</div>
